/*
* Fuente del logotipo
*/
#logo{
    padding-top:2%;
    font-family: 'Satisfy', cursive;
}

#image-header{
    width: 100%;
}

#cart{
    padding: 0px 0px 0px 0px;
}

#cart-items{
    padding: 30px 0px 0px 0px;
}

#cart-icon{
    height: 70px;
    width: 70px;
    margin: 10px 10px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}


#cart #cart-text{
    padding:30px 0px 0px 0px;
    margin:0px 0px 0px 0px;
}

#title-content{
    text-align:center;
}

#footer-text{
    text-align:center;
}

.card-producto{
   height:100%;
}

.card-img{
    height:200px;
}

.row{
    width:100%;
}
